@font-face {
    font-family: 'Pixeboy';
    src: url('assets/Pixeboy.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 292px;
    height: 430px;
    background: transparent;
    font-family: 'Pixeboy', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 55px;
    gap: 12px;
    width: 100%;
    height: 100%;
    background: url("assets/outer-frame-bg.png") no-repeat center/contain;
}

.title {
    -webkit-app-region: no-drag;
    width: 157px;
    height: 27px;
    border-radius: 100px;
    border: 1px solid #840D0D;
    background: rgb(0, 0, 0);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#calendar {
    -webkit-app-region: no-drag;
    width: 220px;
    height: 240px;
    background: url("assets/inner-frame-bg.png") no-repeat center/contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35px;
}

#day {
    font-size: 8.5rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px #840D0D;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

#month {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #840D0D;
    letter-spacing: 0.2rem;
    margin-top: -10px;
    text-transform: uppercase;
    text-align: center;
}